@page
@model WorkerModernManagementSystem.UI.Pages.Admin.Employee.UpsertModel
@{

    string photoPath = "~/images/iamtuse_upload/" + (Model.EmployeeObj.PhotoPath ?? "jjc.jpg");
    if (Model.EmployeeObj.Id != 0)
    {
        ViewData["Title"] = "Update Employee";
    }
    else
    {
        ViewData["Title"] = "Create Employee";
    }
}


<form method="post" enctype="multipart/form-data">
    <div class="container">

        @if (Model.EmployeeObj.Id != 0)
        {
            <input type="hidden" asp-for="@Model.EmployeeObj.Id" />
            <input type="hidden" asp-for="@Model.EmployeeObj.PhotoPath" />
        }
        <div class="row px-2 mx-2 backgroundWhite border">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.EmployeeObj.Id != 0 ? "Update Employee": "Create Employee")</h2>
            </div>

            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.EmployeeObj.FirstName"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.EmployeeObj.FirstName" class="form-control" placeholder="First name..." />
                        <span asp-validation-for="@Model.EmployeeObj.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.EmployeeObj.LastName"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.EmployeeObj.LastName" class="form-control" placeholder="Last name..." />
                        <span asp-validation-for="@Model.EmployeeObj.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.EmployeeObj.Email"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.EmployeeObj.Email" class="form-control" placeholder="Email..." />
                        <span asp-validation-for="@Model.EmployeeObj.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.EmployeeObj.Salary"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.EmployeeObj.Salary" class="form-control" placeholder="Salary..." />
                        <span asp-validation-for="@Model.EmployeeObj.Salary" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.EmployeeObj.Id == 0)
                {
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@Model.EmployeeObj.DateHire"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="@Model.EmployeeObj.DateHire" class="form-control" />
                            <span asp-validation-for="@Model.EmployeeObj.DateHire" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@Model.EmployeeObj.DateHire"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="@Model.EmployeeObj.DateHire" class="form-control" readonly="readonly" />
                            <span asp-validation-for="@Model.EmployeeObj.DateHire" class="text-danger"></span>
                        </div>
                    </div>
                }


                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.EmployeeObj.PhotoPath"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Photo" id="uploadBox" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.EmployeeObj.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control" onclick="return validateInput()">Create</button>
                                }
                                @*<button type="submit" class="btn btn-primary form-control">
                                    @(Model.MenuItemVM.MenuItem.Id != 0 ? "Update" : "Create")
                                </button>*@
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (photoPath != null)
            {
                <div class="col-4 p4">
                    <img src="@photoPath" class="rounded-circle img-fluid" asp-append-version="true" />
                </div>
            }
        </div>


    </div>
</form>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script>
        //tinymce.init({
        //    selector: 'textarea',
        //    plugins: 'lists',
        //    menubar: 'file edit format'
        //});

        function validateInput() {
            var doc = document.getElementById('uploadBox');
            if (doc.value == '') {
                swal('Error', 'Please select an image', 'error');
                return false;
            }
            return true;
        }

    </script>

}